/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------css reset----- */

body{
  background-color: #000000;
  transition: all 0.6s;
}
.wrap {
  max-width: 500px;
  margin: 0 auto;
}
.myButtonArea{
  max-width: 400px;
  margin: 0 auto;
  transition: all 0.6s;
}

h1{
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
  color:#fff;
  font-weight: bold;
  margin: 1rem auto;
}
P{
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
  color:#fff;
  margin: 1rem auto;
}
.wrap::after {
content: '';
display: block;
clear: both;
}
.box{
  /* min-width: 100px; */
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background-color: #fff;
  float: left;
  margin: 1.6%;
  border-radius:20px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  cursor: pointer;
}
#btnAgain{
  margin: 2rem 0.5rem;
  font-size: 2.5rem;
  width: auto; /* 給寬度 */
  padding: 1rem;
  display: block; /*將元素改為區塊 */
  float: left;
  color:#606060; /* 字體顏色 */
  background-color: #fff; /*按紐背景顏色 */
  text-align: center; /*字體水平置中 */
  text-decoration: none; /*連結去底線 */
  border-radius:25px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  cursor: pointer;
  opacity: 0;
}

#easyMode{
  margin: 2rem auto;
  font-size: 2.5rem;
  width: auto; /* 給寬度 */
  padding: 1rem;
  display: block; /*將元素改為區塊 */
  float: left;
  color:#606060; /* 字體顏色 */
  background-color: #fff;
  text-align: center; /*字體水平置中 */
  text-decoration: none; /*連結去底線 */
  border-radius:25px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  cursor: pointer;
  opacity: 0;
}
.hardMode{
  display: none;
}

